<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-6">

        <a href="/new" class="text-blue-500 hover:underline mr-4 mb-3 hover:ease-in duration-300">Agregar Nuevo contacto</a>
        <div class="overflow-x-auto flex justify-center items-center">
            <table class="min-w-full text-left text-sm">

                <thead class="bg-gray-800">
                    <tr>
                        <th class="px-6 py-3 font-bold text-gray-300">ID</th>
                        <th class="px-6 py-3 font-bold text-gray-300">Nombre</th>
                        <th class="px-6 py-3 font-bold text-gray-300">Email</th>
                        <th class="px-6 py-3 font-bold text-gray-300">Phone</th>
                        <th class="px-6 py-3 font-bold text-gray-300">Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-700 divide-y divide-gray-600">

                    {% if contact %}
                    {% for c in contact %}
                    <tr>
                        <td class="px-6 py-4">{{c.id}}</td>
                        <td class="px-6 py-4">{{c.fullname}}</td>
                        <td class="px-6 py-4">{{c.email}}</td>
                        <td class="px-6 py-4">{{c.phone}}</td>
                        <td class="px-6 py-4">
                            <a href="{{ url_for('contacts.update_contact', id=c.id) }}" class="text-blue-500 hover:underline mr-4">Update</a>
                            <a href="{{ url_for('contacts.delete_contact', id=c.id) }}" class="text-red-500 hover:underline mr-4">Delete</a>
                            <a href="{{ url_for('contacts.about_contact', id=c.id) }}" class="text-green-500 hover:underline mr-4">About</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

